body {
	width: 100%;
	background-color: black;
}

.utama {
	display: flex;
	width: 100%;
}

.sidebar {
	width: 300px;
	border: solid 5px skyblue;	
	border-radius: 30px;
	padding: 20px;
	margin: 5px;
	color: white;
}

.main {
	width: 400px;
	background-color: black;
	height: 500px;
	display: inline-flex;
}

.tombol {
	padding: 20px;
	border-radius: 20px;
	border: solid 5px white;
	color: white;
	background-color: red;
	font-size: 15px;
	margin: 5px;
}

.tombol:hover {
	color: red;
	background-color: white;
	font-weight: bolder;
}

#area {
	width: 400px;
	height: 500px;
	position: absolute;
	overflow: hidden;
	z-index: 100;
}


/*untuk virus */
#virus {
	width: 60px;
	height: 60px;
	background: url("img/virus.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

/*untuk vaksin*/
.danger_area {
	margin-top: 300px;
	width: 90px;
	height: 200px;
	opacity: 0.3;
	margin-left: 3px;
	font-size: 30px;
	text-align: center;
	color: white;
	font-weight: bolder;
}

#key1 {
	background-color: limegreen;
}

#key2 {
	background-color: slateblue;
}

#key3 {
	background-color: maroon;
}

#key4 {
	background-color: coral;
}